.home-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: calc(var(--gutter) * 4.5);

  @media(width <= 1439px) {
    row-gap: calc(var(--gutter) * 3);
  }
  @media(width <= 1023px) {
    row-gap: calc(var(--gutter) * 2);
  }

  &__title {
    @media(width <= 767px) {
      width: 100%;
      max-width: 260px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
