.home-releases {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--gutter) * 4);

  padding: calc(var(--gutter) * 7);
  border-radius: calc(var(--border-radius) * 10);
  background-image: url("/img/releases-bg.jpg");

  @media(width <= 1439px) {
    padding: calc(var(--gutter) * 5.5) 0;
    border-radius: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: calc(var(--gutter) * 2);

    @media(width <= 1023px) {
      row-gap: calc(var(--gutter) * 1.5);
    }
  }

  &__description {
    width: 100%;
    max-width: 837px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;

    @media(width <= 1439px) {
      padding-right: calc(var(--gutter) * 2);
      padding-left: calc(var(--gutter) * 2);
    }
    @media(width <= 1023px) {
      max-width: 100%;

      padding-right: calc(var(--gutter) * 2.5);
      padding-left: calc(var(--gutter) * 2.5);
    }
    @media(width <= 767px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__link {
    position: relative;

    width: 100%;

    @media(width <= 1439px) {
      width: calc(100% - var(--gutter) * 4);
      margin-right: calc(var(--gutter) * 2);
      margin-left: calc(var(--gutter) * 2);
    }
    @media(width <= 1023px) {
      width: calc(100% - var(--gutter) * 5);
      margin-right: calc(var(--gutter) * 2.5);
      margin-left: calc(var(--gutter) * 2.5);
    }
    @media(width <= 767px) {
      align-self: center;
      max-width: 305px;
    }
  }
}
