.cart-result-costs {
  flex-direction: column;
  justify-content: space-between;
  padding-top: calc(var(--gutter) * 1.5);
  border-top: 1px solid hsl(var(--sep));
  row-gap: calc(var(--gutter) * 0.5);

  &__item {
    width: 100%;

    display: flex;
    justify-content: space-between;
    column-gap: var(--gutter);
    color: hsl(var(--primary));
  }

  &__caption {
    font-weight: 500;
  }

  &__value {
    font-weight: 700;
  }
}
